<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='./images/favicon.ico' />
  </head>
  <body>
    <div id="app">
      <a href="https://xooa.com"><img alt="Vue logo" src="./images/logo.png"> </a><br />
      <p>Easy. Blockchain. Period.</p><br />
      <h3><div style="text-align: left">Register vote on the blockchain.</div></h3><br />
      <iframe src="https://widget.xooa.com/embed?apiToken=<%= token %>" width="100%" height="300px"></iframe>
    </div>
  </body>
</html>
