<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

</head>
<body>
<table style="table-layout: fixed; width: 100%">
    <tr>
        <!-- <th>URL</th> -->
        <th>QR code</th>
    </tr>
    <% for(var i=0; i < rows.length; i++) { %>
    <tr>
        <!-- <td style="word-wrap: break-word"><%= rows[i].url %></td> -->
        <td><img src="<%= rows[i].qr %>"></td>
    </tr>
    <% } %>
</table>
</body>
</html>